In [1]:
import pandas as pd

In [14]:
path = 'C:/Users/Cecilia/Documents/francisco\henry/proyecto_final_2b/datos/homicidios.xlsx'

In [27]:
#df_diccionario_hechos = pd.read_excel(path,sheet_name='DICCIONARIO_HECHOS')
df_diccionario_victimas = pd.read_excel(path,sheet_name='DICCIONARIO_VICTIMAS')
#df_diccionario_clas = pd.read_excel(path,sheet_name='clas')

In [28]:
df_victimas = pd.read_excel(path,sheet_name='VICTIMAS')

In [30]:
del df_diccionario_victimas

In [31]:
df_hechos.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [33]:
print(df_hechos.shape)
data = df_hechos.drop_duplicates(subset='ID')
data = df_hechos.reset_index(drop=True)
print(df_hechos.shape)

(696, 21)
(696, 21)

La base de datos df_hechos no tiene duplicados